In [1]:
nums=range(0,20)
for n in nums:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
tens=range(10,20)
text=""
for t in tens:
    text=(text)+ " " +str(t)

print(text)

 10 11 12 13 14 15 16 17 18 19

In [12]:
mylist=[10, 20, 14, 55, 43, 87, 76]
print(mylist)
print("Number of item in the List2:")
print(len(mylist))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [13]:
ai="Artificial Intelligence"
for a in ai:
    print(a)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [18]:
tuple0=(1, 'Welcome', 2, 'Hope')
print(tuple0)

(1, 'Welcome', 2, 'Hope')

In [19]:
Tuple1 = (5, 'Welcome', 7, 'Geeks')
print("\nTuple with Mixed Datatypes: ")
print(Tuple1)

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'Geeks')

In [20]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [23]:
input=(20,10,16,19,25,1,276,188)
for i in input:
    if(i%2==1):
        print(i, "is odd")

19 is odd
25 is odd
1 is odd

In [24]:
input=(20,10,16,19,25,1,276,188)
for i in input:
    if(i%2==0):
        print(i, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even